<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mobileAPI.chat.mapper.TbFriendMapper">
    
    <resultMap type="TbFriend" id="TbFriendResult">
        <result property="id"    column="id"    />
        <result property="userid"    column="userid"    />
        <result property="friendsId"    column="friends_id"    />
        <result property="comments"    column="comments"    />
        <result property="createtime"    column="createtime"    />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="uuid"      	column="uuid"         />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="remark"       column="remark"       />
    </resultMap>

    <sql id="selectTbFriendVo">
        select id, userid, friends_id, comments, createtime from tb_friend
    </sql>

    <select id="getFriends" parameterType="TbFriend" resultMap="SysUserResult">
        SELECT a.* FROM `sys_user` a WHERE user_id IN (
            SELECT friends_id FROM `tb_friend` WHERE userid=#{userid}
        )
    </select>


    <select id="selectTbFriendList" parameterType="TbFriend" resultMap="TbFriendResult">
        <include refid="selectTbFriendVo"/>
        <where>
            <if test="userid != null  and userid != ''"> and userid = #{userid}</if>
            <if test="friendsId != null  and friendsId != ''"> and friends_id = #{friendsId}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="createtime != null "> and createtime = #{createtime}</if>
        </where>
    </select>
    
    <select id="selectTbFriendById" parameterType="String" resultMap="TbFriendResult">
        <include refid="selectTbFriendVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbFriend" parameterType="TbFriend">
        insert into tb_friend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="userid != null  and userid != ''">userid,</if>
            <if test="friendsId != null  and friendsId != ''">friends_id,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="createtime != null ">createtime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="userid != null  and userid != ''">#{userid},</if>
            <if test="friendsId != null  and friendsId != ''">#{friendsId},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="createtime != null ">#{createtime},</if>
         </trim>
    </insert>

    <update id="updateTbFriend" parameterType="TbFriend">
        update tb_friend
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null  and userid != ''">userid = #{userid},</if>
            <if test="friendsId != null  and friendsId != ''">friends_id = #{friendsId},</if>
            <if test="comments != null  and comments != ''">comments = #{comments},</if>
            <if test="createtime != null ">createtime = #{createtime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbFriendById" parameterType="String">
        delete from tb_friend where id = #{id}
    </delete>

    <delete id="deleteTbFriendByIds" parameterType="String">
        delete from tb_friend where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>